<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scopes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <% include ./_partials/header %>
    <main>
      <div class="login-form-container container modal-box-wrapper">
        <div class="modal-box">
          <div class="modal-box-header">
            <h3><%= appName %></h3>
            <h5 style="text-align:center"><%= appMessage %></h5>
          </div>
          <div class="modal-box-body">
            <div id="postResultDiv" class="error-container"></div>
            <% scopes.forEach(function(scope){ %>
            <div class="form-group">
              <span class="label-text">
                <label for="email"> <%=scope%> </label>
                <p><%= scopeDescription(scope)%></p>
              </span>
              <span class="apple-switch-botton">
                <input
                  class="apple-switch consents"
                  checked
                  name="consents"
                  type="checkbox"
                  value="<%=scope%>"
                />
              </span>
            </div>
            <% })%>
          </div>
          <div class="modal-actions">
            <button type="button" class="btn btn-default" id="accept_consent">
              Accept
            </button>
            <button
              type="button"
              class="btn btn-default"
              id="reject"
              value="<%=redirect_uri%>"
            >
              Reject
            </button>
          </div>
          <div id="getResultDiv">
            <ul class="list-group"></ul>
          </div>
        </div>
      </div>
      <% include ./_partials/footer-menu %>
      </div>
    </main>
  </body>
  <script src="../js/consent.js"></script>
</html>
