<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/jquery.autocomplete.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- <script src="../js/jquery.autocomplete.js"></script> -->
    <script src="../js/dashboard.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header-wrap container">
            <div class="logo">
                <img src="../images/logo.png" alt="Globe">
            </div>
            <div class="user-details"></div>
        </div>
    </header>
    <main>
        <div class="login-form-container container manage-permission-wrapper">
            <div class="manage-permission">
                <h3>Manage App Permission</h3>
                <div id="postResultDiv">
                </div>
                <div class="search-container">
                    <div class="autocomplete">
                        <input class="form-control autocomplete" id="subscriber_apps" name="subscriber_apps"
                            placeholder="Search Apps">
                    </div>
                    <div class="actions">
                        <select name="ascending" class="order-asc-desc">
                            <option value="ascending">Date ascending</option>
                            <option value="ascending">Date descending</option>
                        </select>
                        <button type="button" class="cancel" id="revoke_all">Revoke All</button>
                    </div>
                </div>
                
                <div class="subscribers_apps-wrapper">
                    <% if (itemCount > 0) { %>
                    <% apps.forEach(function(app){ %>
                    <div class="list-group subscribers_apps">
                        <div class="developer_id subscribers" id="<%= app.developer_id%>">
                            <div class="app_id" id="<%= app.app_id %>"> <%= app.appname %></div>
                            <div class="scopes_list">
                                <ul>
                                    <% app.scopes.forEach((scope) => {
                                              %>
                                    <li><%= scope %></li>
                                    <%}) %>
                                </ul>
                            </div>
                        </div>
                        <div class="action-buttons">
                                <button type="button" class="revoke_app"
                                    id="accept_consent">Revoke</button>
                                <button type="button" class="cancel blacklist_app"
                                    id="accept_consent">Blacklist</button>
                            </div>
                    </div>

                    <% })%>
                    <% } else { %>
                    <div>No apps installed.</div>
                    <% }  %>
                </div>
                <% if (pageCount > 1) { %>
                <ul class="pagination">
                    <% if (currentPage > 1) { %>
                    <li><a href="/dashboard?page=1&limit=<%= limit %>&appname=<%= appname %>">Prev</a></li>
                    <% } %>
                    <% var i = 1;
                            if (currentPage > 5) {
                                i = +currentPage - 4;
                            } %>
                    <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                    <% } %>
                    <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                    <li><a href="/dashboard?page=<%= i %>&limit=<%= limit %>&appname=<%= appname %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                    <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                    <% } %>
                    <% if (currentPage != pageCount) { %>
                    <li><a href="/dashboard?page=<%= pageCount %>&limit=<%= limit %>&appname=<%= appname %>">Next</a>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>

        </div>
    </main>
</body>

</html>
